*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}





.container{
    display: grid;
    grid-template-columns: 18% 20% 20%;
    grid-template-rows: 25% 30% 200px;
    width: 100%;
    height: 100vh;
    gap: 10px;
    padding: 50px;
    justify-content: center;
    background-image: url(images/minimalist.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


 .card{
    position: relative;
    width: 100%;
    height: 100%;
    grid-row: 1/3;
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgba(255, 255, 255, 0.4);
}

.card .content{
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    background-color: rgb(37, 37, 37);
}

.card .content .img{
    height: 50%;
    margin-bottom: 20px;
}
.card .content .img img{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.card .content span{
    position: absolute;
    width: 350px;
    height: 200px;
    background: linear-gradient(to right, #5e2066, #b332c7);
    transform: rotate(-35deg);
    top: -90px;
    left: -100px;
}

.card .content h4{
    font-size: 18px;
    color: #c4c4c4;
    margin-bottom: 5px;
}

.card .content h6{
    font-size: 13px;
    color: #762181;
}

.card .content p{
    font-size: 13px;
    color: #c4c4c4;
    margin-top: 5px;
}

.card .links {
    position: absolute;
    z-index: 90;
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(0, 0, 0, 0.916);
    box-shadow: 2px 3px 5px rgba(60, 52, 73, 0.4);
    padding: 20px;
    align-items: center;
    left: 10px;
    top: 15px;
    transition: 0.5s;
}

.card:hover .links {
    left: -50px;
    border-radius: 10px 0px 0px 10px;
}

.card .links a{
    font-size: 20px;
    color: #ffffff;
}

.card .links a:nth-child(1):hover{
    color: #0060dd;
}

.card .links a:nth-child(2):hover{
    color: rgb(250, 0, 250);
}

.card .links a:nth-child(3):hover{
    color: #9a01ff;
}



.card2-container{
    display: flex;
    background-color: rgb(37, 37, 37);
    color: #c4c4c4;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid white;    
    padding: 10px;
    box-shadow: 2px 3px 5px rgba(201, 201, 201, 0.4);
    overflow: hidden;
}

.card2-container h4{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 40px;
    width: 100%;
    padding-left: 10px;
    border-bottom: 2px solid #762181;
    border-radius: 10px;
    color: #762181;
}

.card2-container h4 i{
    margin-left: 10px;
}


.content2{
    width: 100%;
    height: 100%;
}


.cardbody ul{
    padding-left: 20px;
}

.cardbody ul li{
    font-size: 14px;
}


.item2{
    grid-column: 2/4;

}

.item2 p{
    margin-top: 10px;
}

.item4 ul{
    grid-row: 2/3;
    margin-top: 10px;
}

.item5 ul{
    grid-row: 2/3;
    margin-top: 10px;
}

.item6{
    grid-column: 2/4;
}

.item6 p{
    font-size: 20px;
}

.item7{
    grid-row: 3/4;
}

.item7 .image{
    width: 100%;
    height: 100%;
}

.item7 .image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;

}

.job{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

@media screen and (max-width: 1111px) {


    
}
